// If you wanted to watch (instead of manually build) your input.scss file, 
// you'd just add the watch flag to your command, like so:

// sass --watch styles/css/styles.scss styles/css/styles.css

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(271, 60%, 60%);
  }
}

nav {
  ul {
    display: flex;
    margin-right: 2rem;
  }

}

#main-menu-toggle {
  display: none;
}

.drop {
  top: 25px;
}

nav a, header a,
footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: 1s;
}

#main, #projects, #code, #contact {
  scroll-snap-stop: always;
}

.cta {

  font-style: italic;
  span {
    font-weight: bold;
    color:hsl(337, 70%, 60%);
    border-bottom: 3px solid hsl(337, 70%, 60%);
    text-shadow: 1px 1px hsla(337, 70%, 60%, .2);
    
  }
  
  a {
    text-decoration: none;
    color: inherit
  }
}

main {
  position: relative;
  top: 150px;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: rgb(40, 44, 52);
  scroll-padding-top: 65px;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  background-color: hsl(337, 70%, 60%);
  display: flex;
  color: rgba(255, 255, 255, .5);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2rem 4rem;
  height: fit-content;
  z-index: 100;
  
  

  h1 {
    color: white;
  }
} 


.headroom {
  position: fixed;
  top: 0;
  transition: transform .3s ease-in-out;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

nav li,
footer li {
  display: flex;
  display: inline-block;
  font-size: 1.2rem;
  transition: all 0.6s ease-in-out;
  padding: 0 15px;
  line-height: 2rem;
}

nav a:hover,
footer li:hover,
footer a:hover {
  transform: scale(1.1);
}

footer a:hover,
.intro a:hover {
  text-decoration: underline;
}


.crc-left {
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  width: 400px;
  height: 325px;
  float: left;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: hsl(271, 60%, 60%);
  color: white;
  padding: 30px 0;

  div {
    display: block;
    padding-bottom: 10px;
  }

  a {
    color: aliceblue;
    text-decoration: none;
  }

  h4 {
    margin: 20px 0 15px 0;
  }

  h5 {
    display: inline-block;
    font-weight: thin;
    padding: 10px 20px;
    transition: all 0.6s ease-in-out;

    &:hover {
      transform: scale(1.1)
    }
  }

  h6 {
    font-size: 0.5rem;
    color: rgb(209, 209, 209);
  }
}



#copyright {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 80vw;
  padding: 20px 30px 0 30px;
  border-top: 1px rgb(209, 209, 209) solid;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: rgb(40, 44, 52) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

#textContent {
  border: none;
  max-width: 600px;
  width: 60vw;
}

.output {
  font: 1rem "Fira Sans", sans-serif;
}

.form-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin-top: 50px;
  height: fit-content;
}

.intro {
  width: 75vw;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  line-height: 1.5;

  p {
    margin-bottom: 30px;
  }

  i {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #20232a;
    font-size: 1.1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.959);
  color: rgb(40, 44, 52);
  margin: 30px 10px;
  padding: 0 30px 30px 30px;
  height: fit-content;
  border-radius: 40px;
  box-shadow: 0 5px 20px 0 hsla(0, 0%, 53%, 0.2);
  transition: all 0.6s ease-in-out;
  max-width: 100vw;
  align-items: flex-end;
}

.submit-btn {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 40px;
  clear: left;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(255, 165, 0, .5);
  transition: all 0.4s ease;
  color: white;
  background-color: rgba(255, 165, 0, .9);
  font-weight: 700;
  border: none;

  &:hover {
    background-color: rgba(44, 118, 214, 0.5);
    color: white;
    cursor: pointer;
  }
}


.form-body {
  display: flex;
  flex-direction: column;
}

.input_feilds, select {
  display: flex;
  max-width: 500px;
  margin: 0 10px;
}

.input_feilds {
  // width: 100%
}
.label {
  display: block;
  flex-direction: column;
  // width: 150px;

  input, select {
    margin: 10px;
    padding: 4px;
    max-width: 225px;
    width: 90%;
    
  }
      ::placeholder { 
        color: grey;
        opacity: 1;
        font-style: italic;
      }
}


input:focus {
  outline: none;
}

textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.examples-text {
  margin: 0 auto;
  text-align: center;
  max-width: 95vw;
  width: 475px;
  padding: 15px;
  line-height: 1.5rem;

  p {
    margin-top: 1rem;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
  }
}

.examples-text::after, .intro::after {
  content: "";
  display: block;
  width:64px;
  height: 4px;
  background: #e0ddda;
  margin: 18px auto 0;
}


#about {
  position: relative;
  max-width: 800px;
  font-size: 20px;
  line-height: 1.5;

  p {
    max-width: 900px;
    margin-bottom: 25px;
  }
}

.projects-about {
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  line-height: 1.7rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  padding: 50px 0;
  margin: 20px 0;
  transition: 1s;
  line-height: 1.5rem;

  p:first-of-type {
    padding-top: 10px;
  }

  p {
    padding-bottom: 1rem;
  }

  li {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.9rem;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    transition: all 0.6s ease-in-out;
  }

  li:first-of-type {
    margin-top: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.underline {
  border-bottom: 1px solid rgb(40, 44, 52);
  height: 1px;
  margin-bottom: 25px;
  width: 80vw;
}

.white {
  border-bottom: 1px solid white;
}


.resume img {
  position: absolute;
  left: 0;
  width: auto;
  border: none;
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 50vw;
  transition: 1s;
  margin: 50px;
}

.puppet {
  max-height: 700px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #F2EFEC;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.skills {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 450px;
  padding: 1rem 3rem 3rem 3rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 15px 40px rgba(128, 128, 128, .5);
  
  h2 {
    margin: 2rem auto 3rem auto;
  }
}



.skill {
  width: 100px;
  text-align: center;
  align-content: center;

  svg {
    width: 50px;
  }

  h3 {
    margin-top: 1rem;
  }
}


@keyframes slidein-left {
  from {
    margin-right: 600px;
    opacity: 0;
  }
}


@keyframes slidein-right {
  from {
    margin-right: -600px;
    opacity: 0;
    visibility: hidden
  }
}

.animate-left {
  animation-name: slidein-left;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  
}
.animate-right {
  animation-name: slidein-right;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  
}

.skills-grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 50px;
    grid-template-columns: repeat(3,minmax(auto,100px));
    place-items: center;
    justify-items: center;
}

.projects-grid {
  display: grid;
  column-gap: 3rem;
  row-gap: 100px;
  grid-template-columns: repeat(3,minmax(auto,200px));
  place-items: center;
  justify-items: center;
}

iframe {
  width:100%; 
  height:600px; 
  border:2.5px solid black; 
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  overflow:hidden;
}

.codeSandbox {
  display: grid;
  overflow: hidden;
  justify-content: space-evenly;
  padding: 50px 50px;
  // margin: 0 5px;
  max-width: 100vw;
  column-gap: 5px;
  row-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  // transform: rotate(-5deg);



  div {
    overflow: hidden;
    max-width: 90vw;
    width: 400px;
    margin: 20px auto;
    border: 3px solid black;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
  }

  img {
    max-width: 450px;
    box-shadow: 6px 11px 15px #80808066;
    transition: 1.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.puppet-wrap {
  display: flex;
  align-items: center;
}


/* @media only screen and (max-width: 11) */

@media only screen and (max-width: 1240px) {

  .codeSandbox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }

  calc {
    display: hidden;
  }

  sbox {
    height:400px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 100px auto;
  }

  .skills {
    margin: 20px auto;
    text-align: center;
    max-width: 75vw;
  }

  .resume {
    margin: 0 auto;
  }
  
  .row {
    align-items: center;
  }

}


@media only screen and (max-width: 850px) {
  nav a:hover,
  footer li:hover,
  footer a:hover {
    transform: none;
  }

  main {
    top:0;
    margin: 0 15px;
    width: 95vw;
  }

  header {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height:fit-content;
    padding: 0 15px;

    h1 {
      display: none;
    }

    h2 {
      display: none;
    }

    li {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    // margin: 0;
  }

  .codeSandbox {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: center;

    div {
      overflow: hidden;
      height: 550px;
      max-width:85vw;
      min-width: 350px;
      z-index: 2;
    }
  }

  #main-menu-toggle {
    height: 100%;
    display: block;
    position: absolute;
    top: 38px;
    right: 25px;

    
      // transform: rotate(45deg);
      // -webkit-transform: rotate(45deg);
      // -ms-transform: rotate(45deg);
    
  }
}

@media only screen and (max-width: 750px) {

  // .cta {
  //   text-align: center;
  // }

  .intro {
    width: 100%;

    p {
      width: 100%;
    }
  }

  #code {
    margin:0;
    overflow: hidden;
  }

  .skills-grid {
    column-gap: 3px;
    row-gap: auto;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    justify-items: center;
  }

  .puppet {
    height: 200px;
  }

  .projects {
    padding: 0;
  }
 
  .resume {
    margin-top: 45px;
  }

 
  textarea {
    max-width: 70vw;
  }

  .current-page {
    border-bottom: none;
  }

  .row {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .puppet-wrap {
    display: flex;
    align-items: center;
    margin: 20px auto;
  }

  .resume img {
    // position: relative;
    // margin: auto;
    width: 100px;
  }

  .crc-left {
    // display: none;
    width: 115px;
    height: 100px;
  }

  #about {
    // display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;

    p {
      padding-bottom: 0;
      // margin: 15px 0 0 0;
      font-size: .9rem;
    }
  }

  form {
    padding: 5px;
    align-items: center;
  }

  fieldset {
    padding: 10px;
    margin: 10px;
  }

  #donut {
    padding: 0;
    margin: 0;
    justify-content: space-around;
    text-align: center;
  }
  .examples-text {
    max-width: 95%;
    margin: 10px auto;
    padding: 0;

    p {
      padding:  5px;
    }
  }
  
  .intro p {
    padding: 5px;
  }
  .dropEnabled {
    position: fixed;
    top: 0;
  }
}

@media only screen and (max-width: 475px) {
  .examples-text {
    max-width: 80%;
    margin: 10px auto;
    padding: 0 10px;
  }
}

.hidden {
  display: none;
}





.dropMenuTog {
  // margin-top: -150px;
  animation-name: hide;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  
}

@keyframes hide {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    margin-top: -150px;
    opacity: 0;
  }
}
.menuDrop {
  color: black;
  
  // &:hover {
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  //   -ms-transform: rotate(45deg);
  // }
}

// a[href^=http]:hover {
//   position: relative;

//   &:after {
//     content: attr(href);
//     position: absolute;
//     top: 1em;
//     left: 0;
//     padding: 3px 5px;
//     line-height: 1;
//   }
// }