.screen {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  padding: 20px 5px;
  font-size: 40px;
}

#calc {
  height: 150vh;
}

#calc h1 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.calc-wrapper {
  margin: 50px auto;
  width: 400px;
  border: 1px solid black;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.calc-button-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button {
  background-color: #d8d9db;
  color: black;
  border: none;
  font-size: 40px;
  height: 100px;
  flex-basis: 24.5%;
}

.calc-button:hover {
  background-color: #ebebeb;
}
.calc-button:active {
  background-color: #bbecbe;
}

.double {
  flex-basis: 49.7%;
}

.triple {
  flex-basis: 74.8%;
}

.calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}
