/* colors from https://color.adobe.com/explore */

* {
  padding: 0 40;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Domine", serif;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Domine", serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 10px;
}

img {
  border: 4px rgba(0, 0, 0, 0.5) solid;
  border-radius: 2px;
  margin-left: 100px;
}

nav {
  display: flex;
  padding-right: 20px;
  flex-direction: row-reverse;
  background-color: rgba(0, 0, 0, 0.87);
  color: aliceblue;
  height: auto;
  /* padding: 0 20px; */
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 30px;
}

nav li {
  font-size: 20px;
  padding: 10px;
  width: auto;
}

/* Lord Vader, former handle, Anakin */
a:link {
}
a:visited {
}
a:focus {
}
a:hover {
}
a:active {
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #2a558c;
  color: white;
  height: 200px;
  padding-top: 20px;
}

footer div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100px;
}

footer a {
  color: aliceblue;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  flex-direction: row;
  background-color: #274259;
  padding: 40px;
}

#about {
  margin-top: 125px;
  text-align: center;
  max-width: 1000px;
  min-width: 500px;
  max-height: 400px;
  font-size: 20px;
  line-height: 1.5;
}

#projects {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;

  min-height: 350px;
  max-height: 400px;
  transition: 1.5s;
  border: 1px solid black;
}

#projects ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#projects li {
  font-size: 1.4rem;
  text-decoration: none;
}

#projects li:hover {
  font-size: 2.2rem;
}

#projects h2 {
  font-size: 1.9rem;
}

#projects a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 15px;
  transition: 0.5s;
}

#projects a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(5);
  outline: thin;
}

/* #resuem {
  height: 100vh;
} */

#d_and_d {
  display: none;
}

#password {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 1.5s;
  padding-top: 65px;
  height: 100vh;
}

.about-obj {
  height: auto;
  max-width: 90vw;
  padding-bottom: 60px;
}
.about-obj p {
  margin-top: 20px;
  margin-left: 30px;
}

.about-obj h2 {
  margin: 30px;
}

.about-obj ul {
  margin-left: 40px;
}

.fadeBlue:hover {
  background-color: #4e94bf;
  color: white;
}

.fadeGreen:hover {
  background-color: #5fb6d9;
}
